<div class="main-content">
  <div class="container-fluid">
    <button
      mat-raised-button
      class="btn btn-primary ml-3"
      routerLink="/clinics/create"
    >
      Crear Clinica
    </button>
    <div class="card mt-">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Clinicas</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <th>ID</th>
              <th>Nombre</th>
              <th>Dirección</th>
              <th>Horarios</th>
              <th>Telefono</th>
              <th>Especialidades</th>
              <th>Acciones</th>
            </thead>
            <tbody>
              <tr *ngFor="let clinic of clinics | async">
                <td>{{ clinic.uid }}</td>
                <td>{{ clinic.name }}</td>
                <td>{{ clinic.dir }}</td>
                <td>{{ clinic.schedule }}</td>
                <td>{{ clinic.tel }}</td>
                <td>
                  <tr *ngFor="let specialty of clinic.specialties">
                    <td class="mat-subheading-1">
                      {{ specialty.name }}
                    </td>
                    <td>
                      {{ specialty.doc }}
                    </td>
                  </tr>
                </td>
                <td style="display: inline-flex">
                  <button
                    class="btn btn-outline-info btn-sm"
                    [routerLink]="['/clinics/edit']"
                    [state]="{ data: clinic }"
                  >
                    <i class="material-icons">edit</i>
                  </button>
                  <button
                    class="btn btn-outline-danger btn-sm"
                    (click)="deleteClinic(clinic.uid)"
                  >
                    <i class="material-icons">delete</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
